// Font Colors
$base-font-color: #404040;
$base-font-color-gray: #686868;
$base-font-color-blue: #008CFF;

// Link Colors
$link-color: #0b79d3;
$link-color-hover: #00559b;


// Backgrounds
$bg-light-grey: #fafafa;


// Scrillbar
$scrollbar-width: 8px;


// Colors Technologies
// Angular
$angular-lighten-color: #dd0031;
$angular-darken-color: #c3002f;
// Gulp
$gulp-color: #cf4647;
